Package: com.codex.gtweibo
Name: gtweibo
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: tian
Author: tian
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
